# Repaso general de Python

##

## Sintaxis  y control de flujo

In [1]:
# Declaración y asignación de variables
a = 2
b = 3
c = "hola"
print(c)

hola

In [2]:
c = "hola"
print(c)
c=2.5
print(c)

hola
2.5

## if-else

In [4]:
moneda = "sol"
if moneda == "sol":
    print("sol")
else:
    print("águila")

sol

In [5]:
import numpy as np
dado = np.random.randint (1,7)
#el primero numero es incluido y el otro es exlcuido, por lo tanto se tomarán números del 1-6.

if dado == 1:
    print("hola")
elif dado == 2:
    print("bye")
elif dado == 3:
    print("tres leches")
elif dado == 4:
    print("chocolate")
elif dado == 5:
    print("red velvet")
else:
    print("sies")

hola

## Ciclos

In [6]:
contador = 0

while(contador < 2):
    print("evaporación")
    print("condensación")
    print("precipitación")
    print("")
    contador +=1 #contador= contador + 1

evaporación
condensación
precipitación

evaporación
condensación
precipitación

In [7]:
for contador in range(2):
    # range crea una lista nativa a Python con valores sucesios emepzando en 0 y terminando en el valor - 1
    #range [0, valor)
    print("evaporación")
    print("condensación")
    print("precipitación")
    print("")

evaporación
condensación
precipitación

evaporación
condensación
precipitación

In [8]:
num= np.random.randint(1,16)
print(num)
if num % 3 == 0:
    print("múltiplo de 3")
else:
    print("no es múltiplo de 3")

7
no es múltiplo de 3

## Booleanos

In [9]:
a = 2 
b = 3
a == b

False

In [10]:
a != b

True

In [11]:
a > b

False

In [12]:
a >= b

False

## Objetos

### Hilos

In [13]:
enunciado = "Hola a todos"
print(enunciado)

Hola a todos

In [16]:
enunciado2 = " aaaaabbbbcccdddddeeeeefff"
print(enunciado2)

 aaaaabbbbcccdddddeeeeefff

### Listas

In [17]:
lista = [1, 2, 3, 4]
lista

[1, 2, 3, 4]

In [19]:
lista = [1, 3.1416, "hola"]

In [21]:
lista[0]

1

In [22]:
lista[1]

3.1416

In [23]:
lista[-1]

'hola'

In [25]:
lista1 = [1, 2, 3]
lista2 = [ "a", "b", "c"]
lista3 = [ 7, 8, 9]

lista = [lista1, lista2, lista3]

In [26]:
lista[2][0]

7

## Diccionarios

In [27]:
diccionario = { 0 : "cero", 
                1 : np.pi,
               "Gabriel" : "693871",
               "listas": lista}

In [ ]:
diccionario

## Funciones

In [33]:
def funcion1() :
    print ("Estoy dentro de la función 1")

In [34]:
funcion1()

Estoy dentro de la función 1

In [35]:
def suma(a, b):
    return a + b

In [36]:
suma (2, 5)

7

In [37]:
def funcion_con_parametros_predefinidos(a=1, b=10, c=100):
    return a + b + c

In [46]:
funcion_con_parametros_predefinidos()

111

In [47]:
funcion_con_parametros_predefinidos(b=50)

151

## Lectura rápida de archivos

In [31]:
import pandas as pd
data = pd.read_excel("datosPE.xlsx")
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [38]:
data.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [39]:
data["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [41]:
data["Peso"].sum()

8558

In [43]:
data["Peso en libras"] = data["Peso"]*2.204627
data

    ID Persona  Peso  Estatura  Peso en libras
0            1    67      1.41      147.710009
1            2    99      1.83      218.258073
2            3    86      1.90      189.597922
3            4   118      1.65      260.145986
4            5   109      1.67      240.304343
..         ...   ...       ...             ...
95          96    88      1.49      194.007176
96          97    98      1.54      216.053446
97          98    95      1.57      209.439565
98          99    61      1.61      134.482247
99         100   107      1.62      235.895089

[100 rows x 4 columns]

In [44]:
data.to_excel("ejemplo_con_libras.xlsx")